body{
  margin:0;
}

canvas{
	position:absolute;
	top:0;
	left:0;
	min-width:100vw;
	min-height:100vh;

}

#Debug{
  position:absolute;
  left:1vw;
  top:10vw;
}

#Left{
  position:absolute;
  left:3vw;
  bottom:3vh;
  min-height:10vw;
  min-width:10vw;
  background-color: rgba(0,0,0,0.5)
  
}

.Button{
	position:absolute;
	top:1em;
	font-size:2em;
	z-index:2;
}
.Button.lt{
  right:3em;
}
.Button.rt{
	right:1em;
}
.Button.ut{
	right:2em;
	top:0em;
}
.Button.dt{
	right:2em;
	top:2em;
}
